body {
	font-family: 'Open Sans', sans-serif;
	background-color: #F7F7F7;
}

/* -----------
	Styles
-------------- */

b, strong {
	font-weight: 700;
}
h1 {
	font-size: 24px; 
	margin-top: 0px; 
	text-align: center;
	font-weight: 400;
}
h2 {
	font-size: 19px; 
	margin-top: 25px;
	font-weight: 400;
}
h3 {
	font-size: 15px; 
	color: #333333; 
}
ul {
	margin-bottom: 20px;
}
ul li {
	margin-bottom: 8px;
}
hr{
    background-color: #ccc;
    border-width: 0;
    padding-top: 1px;
    margin: 30px 0;
}

/* -----------
	Layout
-------------- */

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}
.header {
	padding: 5px 20px;
}
.content {
	background-color: #ffffff;
	border: 1px solid #DEDEDE;
	padding: 30px;
	border-radius: 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.quote {
	background-color: #f7f7f7;
	border-left: 4px solid #e6e6e6;
	padding: 5px 10px;
}
code {
	background-color: #585858;
    color: #ffffff;
    font-family: Courier,monospace;
    font-weight: normal;
    padding: 5px 10px;
    border-radius: 4px;
    display: inline-block;
}